{
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "rules": {
        "semi":"off",
        "arrow-parens": "off",
        "comma-dangle": "off",
        "require-jsdoc": "off",
        "object-curly-spacing": "off",
        "indent": ["error", 2],
        "linebreak-style": "off"
    },

    "extends": ["eslint:recommended", "google"]
}